<h2><%= @person.name  %></h2>

<% if @available_projects %>
	<ul>
	<% @available_projects.each do |project| %>
		<li><%= project.name %></li>
	<% end %>
	</ul>

<% end %>

<%= form_for @person, url: associate_project_path do |f|  %>
<%= select_tag(:project_id, options_from_collection_for_select(@projects, :id, :name))  %>
	<%= f.submit "Add Project"  %>
<% end %>

